input_table_path="data/raw/all_site_information.csv"
output_table_path="data/cleaned/all_site_information.csv"

endpoint="https://bevan-mf2klz1k-westeurope.cognitiveservices.azure.com/"
model_name="gpt-4o-mini"
deployment="gpt-4o-mini"

subscription_key=""
api_version="2024-12-01-preview"

max_tokens="4096"
temperature="1.0"